@media screen and (max-width: 600px) {
  mat-card {
    width: 300px;
    justify-content: center;
    margin: auto;
  }
}

h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
	padding: 10px;
}

mat-card {
  margin: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field { 
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination-control {
  float: right;
}

.page-size {
  float: right;
}