<nav class="bg-gray-800 p-4 text-white">
  <ul class="flex justify-center space-x-8">
    <li><a routerLink="/" class="hover:underline">Home</a></li>
    <li><a routerLink="/about" class="hover:underline">About</a></li>
    <li><a routerLink="/resource" class="hover:underline">Resources</a></li>
    <li><a routerLink="/contact" class="hover:underline">Contact</a></li>
  </ul>
</nav>

<app-mission-statement></app-mission-statement>

<app-beginner-steps></app-beginner-steps>

<app-success-stories></app-success-stories>

<app-faq></app-faq>
